body {
    background-image: linear-gradient(rgb(62, 62, 62), rgb(107, 107, 107));
    width: 300px;
    height: 300px;
    overflow: hidden
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

figcaption {
    font-family: monospace;
    font-size: 22px;
    text-align: center;
    margin-top: 10px;
    color: #ccc;
}

p {
    font-size: 15px;
    color: #ccc;
    font-family: monospace;
}